{% extends 'base.html' %}
{% block header %}
  {% include 'main/header.html' %}
{% endblock %}

{% block content %}
  <!-- Mobile menu -->
  <div class="md:hidden mx-4 mt-2">
    <div class="flex justify-between">
      <button id="mobile-filter-btn" class="text-2xl text-gray-900 uppercase cursor-pointer flex items-center">
        filters<svg id="mobile-filter-arrow" class="w-4 h-4 transition-transform duration-300" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
        </svg>
      </button>
      <form action="{% url 'main:catalog_all' %}" method="get">
        <input type="text" name="q" value="{{ q|default:'' }}" placeholder="Search" class="w-50 text-xl text-gray-900 border-1 border-gray-900 focus:outline-none focus:border-gray-400" />
      </form>
    </div>
    {% include 'main/partials/filters.html' with menu_id='mobile-filter-menu' %}
  </div>
  <div class="flex mx-4 my-2 md:mx-8 md:my-4">
    <!-- Desktop menu -->
    <div class="hidden md:flex flex-col mr-3">
      <div>
        {% if categories %}
          <!-- Search -->
          <form action="{% url 'main:catalog_all' %}" method="get">
            <input type="text" name="q" value="{{ q|default:'' }}" placeholder="Search" class="w-50 text-xl text-gray-900 border-1 border-gray-900 focus:outline-none focus:border-gray-400" />
          </form>
          <!-- Categories -->
          <div class="space-y-1">
            <h3 class="text-2xl text-gray-900">Categories:</h3>
            <ul>
              <li>
                <a href="{% url 'main:catalog_all' %}"
                  class="{% if not current_category %}
                    text-2xl text-gray-400
                  {% else %}
                    text-2xl text-gray-900 hover:text-gray-400 active:text-gray-400 transition-colors duration-700
                  {% endif %}">
                  all
                </a>
              </li>
              {% for category in categories %}
                <li>
                  <a href="{% url 'main:catalog' category.slug %}"
                    class="{% if current_category == category %}
                      text-2xl text-gray-400
                    {% else %}
                      text-2xl text-gray-900 hover:text-gray-400 transition-colors duration-700
                    {% endif %}">
                    {{ category.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <!-- Filters -->
          <button id="filter-btn" class="mt-2 text-2xl text-gray-900 uppercase cursor-pointer flex items-center">
            filters<svg id="filter-arrow" class="w-4 h-4 transition-transform duration-300" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
            </svg>
          </button>
          {% include 'main/partials/filters.html' with menu_id='filter-menu' %}
        {% else %}
          <p class="text-xl">No avalible categories</p>
        {% endif %}
      </div>
    </div>
    <!-- Catalog -->
    <div>
      {% if products %}
        {% include 'main/partials/items_catalog.html' %}
        <div class="pagination flex justify-center">
          <span class="step-links">
            {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}<span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
          </span>
        </div>
      {% else %}
        <p>NO AVALIBLE PRODUCTS</p>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    const filter_btn = document.getElementById('filter-btn')
    const filter_menu = document.getElementById('filter-menu')
    
    filter_btn.addEventListener('click', () => {
      filter_btn.classList.toggle('active')
      const isOpen = filter_btn.classList.contains('active')
      filter_menu.style.maxHeight = isOpen ? '800px' : '0'
      filter_menu.style.opacity = isOpen ? '1' : '0'
      document.getElementById('filter-arrow').style.transform = isOpen ? 'rotate(180deg)' : 'rotate(0deg)'
    })
    
    const mobile_filter_btn = document.getElementById('mobile-filter-btn')
    const mobile_filter_menu = document.getElementById('mobile-filter-menu')
    
    mobile_filter_btn.addEventListener('click', () => {
      mobile_filter_btn.classList.toggle('active')
      const isOpen = mobile_filter_btn.classList.contains('active')
      mobile_filter_menu.style.maxHeight = isOpen ? '800px' : '0'
      mobile_filter_menu.style.opacity = isOpen ? '1' : '0'
      document.getElementById('filter-arrow').style.transform = isOpen ? 'rotate(180deg)' : 'rotate(0deg)'
    })
  </script>
{% endblock %}
