<div class="h-screen grid grid-cols-1 gap-5 justify-items-center items-center">
  <div>
    <h1 class="text-7xl lg:text-9xl font-bold text-gray-900">ShopName</h1>
    <nav class="text-2xl text-gray-900">
      <ul class="space-x-2 flex justify-center">
        <li>
          <a href="{% url 'main:catalog_all' %}" class="active:text-gray-400 hover:text-gray-400 transition-colors duration-700">shop</a>
        </li>
        <li>
          <a href="#" class="active:text-gray-400 hover:text-gray-400 transition-colors duration-700">contact</a>
        </li>
        {% if user.is_authenticated %}
          <li>
            <a href="{% url 'users:profile' %}" class="active:text-gray-400 hover:text-gray-400 transition-colors duration-700">account</a>
          </li>
        {% else %}
          <li>
            <a href="{% url 'users:login' %}?next={{ request.path }}" class="active:text-gray-400 hover:text-gray-400 transition-colors duration-700">login</a>
          </li>
          <li>
            <a href="{% url 'users:register' %}?next={{ request.path }}" class="active:text-gray-400 hover:text-gray-400 transition-colors duration-700">create account</a>
          </li>
        {% endif %}
        <li>
          <a href="{% url 'cart:details' %}" class="active:text-gray-400 hover:text-gray-400 transition-colors duration-700">cart ({{ total_items }})</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
