{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- HTMX -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <!-- Tailwindcss -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- CSS style -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>
      {% block title %}
        ShopName
      {% endblock %}
    </title>
  </head>
  <body>
    {% block header %}

    {% endblock %}
    <main class="">
      {% block content %}
        {% include 'main/home.html' %}
      {% endblock %}
    </main>
    {% block scripts %}

    {% endblock %}
  </body>
</html>
