{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Tailwindcss -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- CSS style -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>
      {% block title %}
        Nightforge
      {% endblock %}
    </title>
  </head>
  <body class="min-h-screen h-full">
    <!-- Messages display -->
    {% if messages %}
      <div id="toast-container" class="fixed bottom-5 right-5 z-50 flex flex-col gap-2 items-end">
        {% for message in messages %}
          <div class="toast-item flex items-center gap-3 px-4 py-3 border text-xl font-mono{% if message.tags == 'success' %}
              bg-gray-900 border-gray-500 text-gray-50
            {% elif message.tags == 'error' %}
              bg-gray-900 border-red-700 text-red-400
            {% else %}
              bg-gray-900 border-gray-600 text-gray-50
            {% endif %}transition-opacity duration-500">
            <span>{{ message }}</span>
            <button onclick="this.parentElement.remove()" class="ml-auto text-gray-200 hover:text-gray-50">✕</button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <!-- Header block -->
    {% block header %}

    {% endblock %}
    <!-- Main block -->
    <main class="h-full">
      {% block content %}
        {% include 'main/home.html' %}
      {% endblock %}
    </main>
    {% block scripts %}

    {% endblock %}
  </body>
</html>
