<div id="{{ menu_id }}" class="overflow-hidden filter-menu">
  <!-- Categories -->
  <div class="my-3 md:hidden">
    {% if categories %}
      <h3 class="text-xl lg:text-2xl text-gray-900">Categories:</h3>
      <ul class="space-y-1">
        <li>
          <a href="{% url 'main:catalog_all' %}" class="
          {% if not current_category %}
            text-xl lg:text-2xl text-gray-400
          {% else %}
            text-xl lg:text-2xl text-gray-900 hover:text-gray-400 active:text-gray-400 transition-colors duration-700
          {% endif %}">all</a>
        </li>
        {% for category in categories %}
          <li>
            <a href="{% url 'main:catalog' category.slug %}" class="{% if current_category == category %}
                text-xl lg:text-2xl text-gray-400
              {% else %}
                text-xl lg:text-2xl text-gray-900 hover:text-gray-400 active:text-gray-400 transition-colors duration-700
              {% endif %}
            ">{{ category.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="text-gray-900 text-xl lg:text-2xl">No avalible categories</p>
    {% endif %}
  </div>
  <!-- Filtration form -->
  <form method="get"
    class="mt-1"
    action="{% if current_category %}
      {% url 'main:catalog' current_category.slug %}
    {% else %}
      {% url 'main:catalog_all' %}
    {% endif %}">
    <!-- Price -->
    <div class="space-y-2">
      <h3 class="text-xl lg:text-2xl text-gray-900">Price:</h3>
      <div class="grid grid-cols-2 md:grid-cols-1 gap-5">
        <input type="number" name="min_price" placeholder="Min" value="{{ min_price|default:'' }}" class="text-xl text-gray-900 border-1 border-gray-900 focus:outline-none focus:border-gray-400" />
        <input type="number" name="max_price" placeholder="Max" value="{{ max_price|default:'' }}" class="text-xl text-gray-900 border-1 border-gray-900 focus:outline-none focus:border-gray-400" />
      </div>
    </div>
    <!-- Sizes -->
    <div class="grid grid-cols-1 mt-2">
      <h3 class="text-xl lg:text-2xl text-gray-900">Sizes:</h3>
      <div class="flex flex-row space-x-2 md:space-y-2 md:flex-col text-xl lg:text-2xl">
        <div>
          <input type="radio" id="all_size" name="size" value="" {% if size == '' %}checked{% endif %}/>
          <label for="{{ all_size }}">All</label>
        </div>
        {% for s in sizes %}
          <div>
            <input type="radio" id="{{ s.id }}" name="size" value="{{ s.name }}" {% if size == s.name %}checked{% endif %}/>
            <label for="{{ s.id }}">{{ s.name }}</label>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- Sorting -->
    <select name="sort" class="text-xl lg:text-2xl">
      <option value="default" {% if request.GET.sort == 'default' %}selected{% endif %}>Default</option>
      <option value="price_asc" {% if request.GET.sort == 'price_asc' %}selected{% endif %}>Low to high</option>
      <option value="price_desc" {% if request.GET.sort == 'price_desc' %}selected{% endif %}>High to low</option>
      <option value="name"{% if request.GET.sort == 'name' %}selected{% endif %}>A-Z</option>
    </select>
    <div class="mt-2">
      <button type="submit" class="border-3 border-gray-900 text-xl w-full px-3 py-3 cursor-pointer hover:bg-gray-900 hover:text-gray-50 transition-colors duration-700 active:text-gray-50 active:bg-gray-900">APPLY</button>
    </div>
  </form>
</div>
