{% extends 'base.html' %}

{% block content %}
  <div class="h-screen flex items-center justify-center">
    <form method="post" action="{% url 'users:register' %}" class="shadow-xl/30 max-w-2xl px-3 py-3 text-center">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.GET.next }}" />
      <div class="grid grid-cols-1 mb-5">
        <div>{{ form.email }}</div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-2 lg:gap-10 mb-5">
        <div>{{ form.first_name }}</div>
        <div>{{ form.last_name }}</div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-2 lg:gap-10 mb-5">
        <div>{{ form.password1 }}</div>
        <div>{{ form.password2 }}</div>
      </div>
      <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 sm:gap-2 md:gap-5 lg:gap-10">
        <button type="submit" class="px-3 py-3 border-2 border-gray-900 text-gray-900 text-xl hover:text-gray-200 hover:bg-gray-900 transition-colors duration-700">Create Account</button>
        <a href="{{ request.GET.next }}" class="px-3 py-3 border-2 border-gray-900 text-xl text-gray-900 hover:text-gray-300 hover:bg-gray-900 transition-colors duration-700">Back</a>
      </div>
    </form>
  </div>
{% endblock %}
